
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>About Us</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='s2.css') }}">
 </head>
 <body>
    <div class="contact-container">
        <h1>ABOUT US</h1>
        <div class="contact-info">
            <h2>Project Done By :</h2>
            <p>M HEMANTH</p>
        </div>
    </div>
    <footer id="footer">
        <p>&copy; 2024 HYDROWATCH</p>
    </footer>
 </body>
 </html>
 