<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEATHER</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='s1.css') }}">
</head>
<body>
  <header id="header">
    <div id="logo">WEATHER USING FLASK</div>
  </header>
  <main id="main">
    <div class="hover-box">
      <p>CLICK LOGIN, TO ACCESS WEATHER OF A CITY</p>
      <a href="/login" class="login-button">LOGIN</a>
    </div>
    <div class="button-container">
      <a href="/about" class="login-button1">ABOUT</a>
      <a href="/contact" class="login-button2">CONTACT US</a>
    </div>
  </main>
  <footer id="footer">
    <p>&copy; 2024 </p>
  </footer>
</body>
</html>
