body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #7ee3ff;
  padding: 40px;
  display: flex;
  justify-content:start;
  /* align-items: center; */
}

#logo {
  font-size: 50px;
  font-weight: bold;
  margin-left: 450px;
}

#main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.hover-box {
  text-align: center;
  padding: 80px;
  background-color: #50d9ff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.login-button {
  width: 20%;
 
  padding: 10px 20px;
  background-color: #00838f; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #005662; 
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 80px;
}

.button-container button a {
  text-decoration: none;
}


.login-button1 {
  background-color: #00838f;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}
.login-button2 {
  background-color: #00838f;
  border-radius: 7px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 5px;
}

#footer {
  background-color: #7ee3ff;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}
