<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='s4.css') }}">
</head>
<body>
    <div class="contact-container">
        <h1>Contact Us</h1>
        <div class="contact-info">
            <p><strong><h2>Email:</h2></strong> <a href="mailto:hemanth12178@gmail.com">hemanth12178@gmail.com</a></p>
            <p><strong><h2>Contact No:</h2></strong> 111-111-1111</p>
        </div>
    </div>
    <footer id="footer">
        <p>&copy; 2024 HYDROWATCH</p>
    </footer>
</body>
</html>
